html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  margin-top: 0px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.logo {
  font-family: Raleway, Oleo Script, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
  margin-right: 93px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo--studio {
  color: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover {
  color: #212121;
}

.logo:hover .logo--studio {
  color: #2196f3;
}

.logo--studio:hover {
  color: #2196f3;
}

button {
  color: #ffffff;
  background-color: #2196f3;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-color: #2196f3;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 32px 10px 32px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover, button:focus {
  background-color: #188ce8;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .item + .item {
  margin-left: 50px;
}

.header .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.header__mail, .header__tel {
  color: #757575;
  fill: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__icon {
  margin-right: 10px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.current {
  color: #2196f3;
  position: relative;
  display: block;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.section-hero .hero {
  margin-top: 0px;
  text-align: center;
}

.section-hero .hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
  min-width: 696px;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-background-min.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background-min.jpg);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .list > item:not(:last-child) {
  margin-right: 30px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.section__title--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section-doing {
  padding-bottom: 94px;
}

.section-doing__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.section-doing .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-doing .item {
  width: 370px;
  height: 294px;
}

.section-doing .item:not(:last-child) {
  margin-right: 30px;
}

.section-doing .thumb {
  position: relative;
  width: 370px;
  height: 294px;
}

.section-doing__subtitle {
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.section-team .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-team .list > .item:not(:last-child) {
  margin-right: 30px;
}

.section-team .item {
  padding-bottom: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-team__img {
  margin-bottom: 30px;
}

.section-team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.section-team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 16px;
}

.section-team .list-social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-team__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team__link:hover, .section-team__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.section-team .item-social-network + .item-social-network {
  margin-left: 10px;
}

.section-team__icon {
  max-width: 20px;
  max-height: 20px;
}

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.section-clients .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-clients .item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients .item:hover, .section-clients .item:focus {
  border-color: #2196f3;
}

.section-clients .item:hover .section-clients__icon,
.section-clients .item:focus-within .section-clients__icon {
  border-color: #2196f3;
  fill: #2196f3;
}

.section-clients .item + .item {
  margin-left: 30px;
}

.section-clients__icon {
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .logo-div {
  margin-bottom: 20px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .logo--studio-white {
  color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .logo--studio-white:hover {
  color: #2196f3;
}

.footer .logo-footer:hover {
  color: #ffffff;
}

.footer .logo-footer:hover .logo--studio-white {
  color: #2196f3;
}

.footer .contacts {
  margin-right: 70px;
}

.footer__link {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  color: #2196f3;
}

.footer .address .item {
  margin-bottom: 9px;
}

.footer__link--city {
  font-style: normal;
  color: #ffffff;
}

.footer__link--email, .footer__link--tel {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.footer .footer-social-networks {
  padding-top: 12px;
  margin-right: 93px;
}

.footer .footer-social-networks__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: left;
}

.footer .footer-social-networks .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-social-networks .item + .item {
  margin-left: 10px;
}

.footer .footer-social-networks__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .footer-social-networks__link:hover, .footer .footer-social-networks__link:focus {
  background-color: #2196f3;
}

.footer .footer-social-networks__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer .subscription {
  padding-top: 12px;
}

.footer .subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: left;
}

.footer .subscription__email {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #2f303a;
}

.footer .subscription__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-width: 0;
  padding: 10px 28px 10px 29px;
}

.footer .subscription__text {
  margin-right: 10px;
}

.footer .subscription__icon {
  width: 24px;
  height: 24px;
  position: relative;
  top: 3px;
}

.footer .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
}

.backdrop .close {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-8px, 8px);
          transform: translate(-8px, 8px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backdrop .close:hover .backdrop__cross,
.backdrop .close:focus .backdrop__cross {
  fill: #2196f3;
}

.backdrop__cross {
  width: 11px;
  height: 11px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 12px;
}

.backdrop .form {
  position: relative;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__input {
  padding: 12px 12px 12px 42px;
  font-family: inherit;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label:hover .backdrop__input,
.label:focus .backdrop__input {
  border: 1px solid #2196f3;
  cursor: pointer;
}

.backdrop .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
  position: relative;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .comment {
  margin-bottom: 20px;
}

.backdrop__comment {
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  background-color: #fff;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;
  resize: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label:hover .backdrop__comment,
.label:focus .backdrop__comment {
  border: 1px solid #2196f3;
  cursor: pointer;
  fill: #2196f3;
}

.backdrop__comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop__comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop__comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop__comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop__text {
  margin-bottom: 4px;
}

.backdrop .div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.backdrop__icon {
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  position: absolute;
}

.label:focus-within .backdrop__icon {
  fill: #2196f3;
}

label:hover .backdrop__icon {
  fill: #2196f3;
}

.backdrop .check {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backdrop__checkbox, .backdrop__check--icon {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop__checkbox:checked + .backdrop__check--empty {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop__check--empty {
  width: 16px;
  height: 15px;
  margin-right: 6px;
}

.backdrop__checkbox:checked ~ .backdrop__check--icon {
  position: static;
  width: 16px;
  height: 15px;
  overflow: visible;
  margin-right: 7px;
  clip: auto;
}

.backdrop__consent {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-right: 5px;
}

.backdrop__contract {
  color: #2196f3;
  text-decoration: underline;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.backdrop .button--check {
  display: block;
  padding: 10px 55px;
  margin: auto;
  margin-top: 30px;
}
/*# sourceMappingURL=main.css.map */