.footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    background-color: var(--background-hero-footer-color);
    padding-top: 60px;
    padding-bottom: 60px;

    .container {
        display: flex;
    }

    .logo-div {
        margin-bottom: 20px;
        transition: 250ms var(--timing-function);
    }

    .logo--studio-white {
        color: var(--hero-text-color);
        transition: 250ms var(--timing-function);

        &:hover {
            color: var(--accent-color);
        }
    }

    .logo-footer:hover {
        color: var(--hero-text-color);
    }

    .logo-footer:hover .logo--studio-white {
        color: var(--accent-color);
    }

    .contacts {
        margin-right: 70px;
    }

    &__link {
        transition: 250ms var(--timing-function);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    .address .item {
        margin-bottom: 9px;
    }

    &__link--city {
        font-style: normal;
        color: var(--hero-text-color);
    }

    &__link--email,
    &__link--tel {
        font-style: normal;
        color: var(--footer-mail-tel-color);
    }

    .footer-social-networks {
        padding-top: 12px;
        margin-right: 93px;

        &__title {
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--background-color);
            margin-bottom: 20px;
            text-align: left;
        }

        .list {
            display: flex;
        }

        .item+.item {
            margin-left: 10px;
        }

        &__link {
            width: 44px;
            height: 44px;
            display: flex;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            transition: 250ms var(--timing-function);

            &:hover,
            &:focus {
                background-color: var(--accent-color);
            }
        }

        &__icon {
            width: 20px;
            height: 20px;
            fill: var(--background-color);
        }
    }

    .subscription {
        padding-top: 12px;

        &__title {
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--background-color);
            margin-bottom: 20px;
            text-align: left;
        }

        &__email {
            font-size: 16px;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.6);
            width: 358px;
            height: 50px;
            padding: 15px 16px;
            margin-right: 12px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 4px;
            box-sizing: border-box;
            background-color: var(--background-hero-footer-color);
        }

        &__button {
            display: flex;
            border-width: 0;
            padding: 10px 28px 10px 29px;
        }

        &__text {
            margin-right: 10px;
        }

        &__icon {
            width: 24px;
            height: 24px;
            position: relative;
            top: 3px;
        }
    }

    .form {
        display: flex;
    }
}