.section {
    padding-top: 94px;
    padding-bottom: 94px;

    .list {
        display: flex;
    }

    .item {
        display: flex;
    }

    .list>.item:not(:last-child) {
        margin-right: 30px;
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 50px;
    
        &--visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            border: 0;
            clip: rect(0 0 0 0);
        }
    }
}
